@model IEnumerable<OneGit.RepositoryModel>

@{
  ViewData["Title"] = "Home Page";
}

<h2></h2>

<ul class="nav nav-tabs">
  <li role="presentation"><a href="#">Overview</a></li>
  <li role="presentation" class="active"><a href="#">Repositories <span class="badge">@Model.Count()</span></a></li>
  <li role="presentation"><a href="#">Stars</a></li>
  <li role="presentation"><a href="#">Followers</a></li>
  <li role="presentation"><a href="#">Following</a></li>
</ul>

<div class="user-profile-repo-filter">
  <p>
    @if (User.IsInRole("admin") || User.IsInRole("editor"))
    {
      <a class="btn btn-success" asp-action="New">
        <span class="glyphicon glyphicon-book" aria-hidden="true"></span>
        New
      </a>
    }
  </p>
</div>

<table class="table">
  <thead>
    <tr>
      <th>
        @Html.DisplayNameFor(model => model.Name)
      </th>
      <th>
        @Html.DisplayNameFor(model => model.Description)
      </th>
      <th></th>
    </tr>
  </thead>
  <tbody>

    @foreach (var item in Model)
    {
      <tr>
        <td>
          <a href="@Html.DisplayFor(modelItem => item.Url)">@Html.DisplayFor(modelItem => item.Name)</a>
        </td>
        <td>
          @if (!string.IsNullOrWhiteSpace(item.Description))
          {
            Html.DisplayFor(modelItem => item.Description);
          }
          else
          {
            <em class="text-muted">No description provided.</em>
          }
        </td>
        <td>
          <div class="btn-group" role="group" aria-label="Operations">
            @if (User.IsInRole("admin") || User.IsInRole("editor"))
            {
              <a class="btn btn-default" asp-action="Edit" asp-route-id="@item.ID">Edit</a>
            }
            @if (User.IsInRole("admin"))
            {
              <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            }
          </div>
        </td>
      </tr>

    }
  </tbody>
</table>